@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Uto';
  src: url('/fonts/Uto_Var_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uto';
  src: url('/fonts/Uto_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uto';
  src: url('/fonts/Uto_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uto';
  src: url('/fonts/Uto_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Uto', sans-serif;
  background-color: #FCFCFC;
  color: #0F1419;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FF5A5F;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4348;
}
